<div id = "header" style="background-image: url('<%= @profile_banner %>') "> </div>
<%= render "update_banner" if @is_profile_owner %>

<div class="columns profile-container">

  <div id="profile-div">
    <%= image_tag @avatar, { :id => "profile_pic" } %> 
    <%= render "update_profile_picture" if @is_profile_owner %>

    <%= render :partial => "layouts/profile_buttons", :locals => {:user => @profile_owner.id} %>
    <p id ="follow-count"><%= @profile_owner.followers.count %> followers</p>
  </div>

  <div class="column is-one-quarter">

    <div id="bio-header">
      <h3 id="about-me"> About Me </h3>
    </div>

    <div class="bio-body">
      <p id="bio-text"> <%= @profile_owner.bio %> </p>
      
      <% if current_user == @profile_owner %>
        <div id="edit_profile_button">
          <i class="fa fa-edit"> </i>
        </div>
        
        <%= link_to "Save", edit_bio_path, :class => "hidden", :id => "save_bio", 
        "data-user-id" => @profile_owner.id, "data-bio-path" => edit_bio_path %>
      <% end %>

    </div>

  </div>
</div>

<% @profile_owner.posts.each do |post| %>
  <%= render :partial => "layouts/profile_posts", :locals => {:post_id => post.id} %>
<% end %>

<%= javascript_pack_tag 'profile', 'data-turbolinks-track' => false %>

<script>

  function send_follow_request() {   
      $.ajax({
          type: 'GET',
          url: this.href,
          dataType: 'script', 
          data: { }
      })
      return false;
  }

  $("#follow-button")[0].onclick = send_follow_request;



</script>



