<div id = "header" style="background-image: url('<%= @profile_banner %>') "> </div>
    <%= image_tag @avatar, { :id => "profile_pic" } %> 

    <%= render "update_profile_picture" if @is_profile_owner %>
    <%= render "update_banner" if @is_profile_owner %>


<div id="left-bar">
  <%= button_to "Log out", destroy_user_session_path, :method => :delete %>
</div>

<%= javascript_pack_tag 'profile', 'data-turbolinks-track' => false %>


