<div id = "header" style="background-image: url('<%= @profile_banner %>') "> </div>
<%= render "update_banner" if @is_profile_owner %>

<div class="columns profile-container">
  <div>
    <%= image_tag @avatar, { :id => "profile_pic" } %> 
    <%= render "update_profile_picture" if @is_profile_owner %>
    <%= button_to "Log out", destroy_user_session_path, :method => :delete %>
  </div>

  <div class="column is-one-quarter">

    <div id="bio-header">
      <h3 id="about-me"> About Me </h3>
    </div>

    <div class="bio-body">
      <p id="bio-text"> <%= @profile_owner.bio %> </p>

      <div id="edit_profile_button">
        <i class="fa fa-edit"> </i>
      </div>
      <%= link_to "Save", edit_bio_path, :class => "hidden", :id => "save_bio", 
      "data-user-id" => @profile_owner.id, "data-bio-path" => edit_bio_path %>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'profile', 'data-turbolinks-track' => false %>

<script>

  // credit to Anurag for Javascript at 
  // https://stackoverflow.com/questions/2441565/how-do-i-make-a-div-element-editable-like-a-textarea-when-i-click-it
  
  function divClicked() {
    var divHtml = $("#bio-text").html();
    var editableText = $("<textarea />");
    var user_id = $("#save_bio")[0].getAttribute("data-user-id");
    const BIOPATH = $("#save_bio")[0].getAttribute("data-bio-path");

    editableText.val(divHtml);
    $(this).replaceWith(editableText);
    editableText.focus();
    $("#save_bio")[0].href = `${BIOPATH}?user=${user_id}&bio=${editableText.val()}`

    $("#save_bio")[0].classList.remove("hidden");
    // add the bio parameter to the save_bio link
    $('textarea').on('input', (event) => {
      bio = editableText.val();
      $("#save_bio")[0].href = `${BIOPATH}?user=${user_id}&bio=${bio}`;
    });
  }



  $("#edit_profile_button").click(divClicked);

</script>


