<div id="form_div">
  <%= form_for Comment.new do |form| %>
    <%= form.text_area :body %>
    <%= form.hidden_field :post_id, :value => params[:id] %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.hidden_field :parent_id, :value => params[:parent_id] if params[:parent_id] %>
    <%= form.hidden_field :parent_id unless params[:parent_id] %>
    <%= form.submit %>
  <% end %>
</div>