<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :subreddit, "Subreddit", :class => "label" %>
    <%= form.collection_select(:subreddit, @subreddits, :id, :title) %>
  </div>
  <%= form.text_field :title, :placeholder => "Title", :class => "full_width" %>
  <%= form.rich_text_area :content, size: '60x10' %>

  <%= form.submit %>
<% end %>


<script>
    $(document).ready(function() {
        $('#post_subreddit').select2();
    });
</script>