<%= image_tag @banner, :id => "subreddit_banner" %>

<div class="columns is-multiline" id="subreddit-body">
  <div class="column is-three-fifths">

    <div class="post-header">
      <%= link_to "Posted by u/#{@post.user.username}", profile_path(@post.user.username),
      :class => "post-username" %>
      <p> <%= @post.title %> </p>
    </div>

    <div class="post-body">
      <%= @post.content %> 
    </div>


    <% @comments.each do |comment| %>
      <%= render :partial => 'comment', :locals => {:comment_id => comment.id} %>
    <% end %>

    
  </div>

  <div class="column is-one-quarter">

    <div id="description-header">
      <h3 id="about-community"> About Community </h3>
    </div>

    <div class="description-body">
      <p id="subreddit-description"> <%= @subreddit.description %> </p>
      <p> <%= number_to_human(@subreddit.subscribers.count) %> </p>
      <p> Members </p>
    </div>

    <div id="moderator-header">
      <h3> Moderators </h3>
    </div>

    <% @moderators.each do |mod| %>
      <%= link_to "u/#{mod.username}", profile_path(mod.username) %>
    <% end %>
    
    <%= render :partial => "post_comment", :locals => {:post_id => @post.id} %>
  </div>


  
</div>