   <nav class="topnav">
      <div class="active">
        <%= link_to "Profile", profile_path(current_user.username), id: 'profile' %>

        <%= form_with url: "/search", :id => 'search_form' do |form| %>
          <%= form.text_field :query, :id => "query" %>
        <% end %>

      </div>

      <div id="links">
        <%= link_to "Post", new_post_path %>
        <%= link_to "New Sub", new_subreddit_path %>
        <%= link_to "Home", root_path %>
      </div>
        
      <a href="javascript:void(0);" class="icon" onclick="showNav()">
        <i class="fa fa-bars"></i>
      </a>

    </nav>
