<% @avatar = get_avatar(current_user) %>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to image_tag("reddit.png"), root_path, id: 'home' %>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Search
        </a>

        <div class="navbar-dropdown">
          <%= form_with url: "/search", :id => 'search_form', :class => "navbar-item", data: { turbo: false } do |form| %>
            <%= form.text_field :query, :id => "query" %>
            <%= form.submit "Hidden", :style => "display: none" %>
          <% end %>
        </div>

      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          New
        </a>

        <div class="navbar-dropdown">
          <%= link_to 'Post', new_post_path, :class => "navbar-item", id: 'post' %>
          <%= link_to 'Subreddit', new_subreddit_path, :class => "navbar-item" %>
        </div>
      </div>

    </div>

    <div class="navbar-end">
      <div class="navbar-brand">
        <%= link_to image_tag(@avatar), profile_path(current_user.username), id: 'profile' %>
      </div>

      <div class="navbar-item">
        <%= link_to current_user.username, profile_path(current_user.username) %>
      </div>

    </div>
  </div>
</nav>
