<div id="categories">
  <button id="subreddit-category">Subreddits</button>
  <button id="post-category">Posts</button>
  <button id="user-category">Users</button>
</div>

<div id="subreddit-list">
  <% @subreddits.each do |subreddit| %>

    <div class="subreddit-listing" >

      <%= link_to "r/#{subreddit.title}", r_path(subreddit.title) %>
      <p> <%= subreddit.subscribers.count %> Members </p>
      <p> <%= subreddit.description %> </p>
    </div>
  <% end %>
</div>

<div id="post-list">
  <% @posts.each do |post| %>
    <div class="post-header">

      <% subreddit = Subreddit.find(post.subreddit_id)%>
      <% banner = "default_banner.png" %>
      <% banner = subreddit.banner if subreddit.banner.persisted? %>

      <%= image_tag url_for(subreddit.banner), :class => "circular_sub_icon" %>
      <%= link_to "r/#{subreddit.title}", r_path(subreddit.title), :class => "inline-text" %>
      <%= link_to "Posted by u/#{post.user.username}", profile_path(post.user.username), :class => "inline-text" %>

      <%= link_to post.title, post_path(post.id) %>
      <% if post.content.embeds.first %>
        <%= render :partial => "embed_representation", :locals => {:post_id => post.id} %>
      <% end %>
      
    </div>
  <% end %>
</div>

<div id="user-list">
  <% @users.each do |user| %>
    <%= link_to user.username, profile_path(user.username) %>
  <% end %>
</div>

<%= javascript_pack_tag 'search.js' %>


