<%= image_tag @banner, :id => "subreddit_banner" %>
<%= render "update_banner" if @subreddit.moderators.include?(current_user) %>

<div id="subreddit-pages">
  <h2 id="subreddit-title"> <%= @subreddit.title %> </h2>

  <%= button_to "Unjoin", unsubscribe_path, :id => "join_button" if @subscribed %>
  <%= button_to "Join", subscribe_path, :id => "join_button" unless @subscribed %>
</div>

<div class="columns is-multiline" id="subreddit-body">
  <div class="column is-three-fifths">

    <%= link_to "Live #{@subreddit.title} chat", room_path(@room.id) %>
    <% @posts.each do |post| %>
      <%= render :partial => "show_post", :locals => {:post_id => post.id} %>
    <% end %>

  </div>

  <div class="column is-one-quarter">

    <div id="description-header">
      <h3 id="about-community"> About </h3>
    </div>

    <div class="description-body">
      <p id="subreddit-description"> <%= @subreddit.description %> </p>
      <p> <%= number_to_human(@subreddit.subscribers.count) %> </p>
      <p> Members </p>
    </div>

    <div id="moderator-header">
      <h3> Moderators </h3>
    </div>

    <% @moderators.each do |mod| %>
      <%= link_to "u/#{mod.username}", profile_path(mod.username) %>
    <% end %>

  </div>

</div>

<% if @subreddit.moderators.include?(current_user) %>
  <%= javascript_pack_tag 'banner.js' %>
<% end %>
